    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
          <div class="col-xs-12">
            <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
              Back to Menu
            </button>
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object img-thumbnail" ng-src="{{dish.image}}" alt="Uthappizza">
                </a>
              </div>
              <div class="media-body">
                <h2 class="media-heading">{{dish.name}}
                  <span class="label label-danger">{{dish.label}}</span>
                  <span class="badge">{{dish.price | currency}}</span></h2>
                <p>{{dish.description}}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-9 col-xs-offset-1">
	    <strong>Costumer Comments:</strong>
	    Sort by: <input type="search" ng-model="sorting" placeholder="sorting" aria-label="sorting" />
            <blockquote ng-repeat="comments in dish.comments | orderBy: sorting">
	      <p>{{comments.rating}} Stars</p>
	      <p>{{comments.comment}}</p> 
	      <footer>{{comments.author}}, {{comments.date | date:'mediumDate'}}</footer>
	    </blockquote>
          </div>
	    
           <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
             <ul class="list-unstyled">
	       <blockquote ng-show="!commentForm.$invalid && !commentForm.$pristine">
		 <p>{{comment.rating}} Stars</p>
		 <p>{{comment.comment}}</p>
		 <footer>{{comment.author}}, {{comment.date | date:'mediumDate'}}</footer>
	       </blockquote>
             </ul>
             <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
	       <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                 <label for="author" class="col-sm-2 control-label">Your Name</label>
                 <div class="col-sm-10">
                   <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="comment.author" required>
                   <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                 </div>
               </div>
	       <div class="form-group">
                 <label for="rating" class="col-sm-2 control-label">Number of Stars</label>                        
		 <div class="col-sm-10">
		   <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" ng-value=1>1</label>
		   <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" ng-value=2>2</label>
		   <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" ng-value=3>3</label> 
		   <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" ng-value=4>4</label> 
		   <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" ng-value=5>5</label> 
                 </div>
               </div>
	       <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                 <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                 <div class="col-sm-10">
                   <textarea class="form-control" id="comment" name="comments" rows="12" ng-model="comment.comment" required>
                   </textarea>
		   <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required.</span>
                 </div>
               </div>
	       <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-10">
                   <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                 </div>
                  </div>
             </form>
           </div>
        </div>
    </div>
    
