<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
    <!-- Bootstrap -->

    <!-- buil:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="dishDetailController as dishDetailCtrl">
          <div class="col-xs-12">
            <p>
	      
	      <div class="media-left media-middle">
		<a href="#">
                  <img class="media-object img-thumbnail" ng-src='{{dishDetailCtrl.dish.image}}' alt="Uthappizza">
		</a>
	      </div>
	      <div class="media-body">
		<h2 class="media-heading">{{dishDetailCtrl.dish.name}}
                <span class="label label-danger">{{dishDetailCtrl.dish.label}}</span>
                <span class="badge">{{dishDetailCtrl.dish.price | currency}}</span></h2>
		<p>{{dishDetailCtrl.dish.description}}</p>
	      </div>
	    </p>
          </div>
	  
          <div class="col-xs-9 col-xs-offset-1">
	      <label for="sorting">Customer Comments</label>&nbsp;&nbsp;
	      <span>Sort by:</span>
	      <input name="sorting" id="sorting" type="text" ng-model="ordering">
	    <blockquote ng-repeat="dishData in dishDetailCtrl.dish.comments | orderBy: ordering">
	      <p><span>{{dishData.rating}} Stars</span></p>
	      <p><span>{{dishData.comment}}</span></p>
	      <footer>{{dishData.author}}&nbsp;{{dishData.date | date:'MMM d, y'}}</footer>
	    </blockquote>     
          </div>
        </div>
	
    </div>
    <!-- buil:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

</body>

</html>
