<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ristorante Con Fusion: Menu</title>
    <!-- Bootstrap -->
    
    <!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <!-- endbuild -->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    
    <div class="row row-content" ng-controller="menuController as menuCtrl">
       <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" ng-class="{active:isSelected(1)}" id="1">
           <a aria-controls="all menu" role="tab" ng-click="select(1)">The Menu</a></li>
         <li role="presentation" ng-class="{active:isSelected(2)}">
           <a aria-controls="appetizers" role="tab" ng-click="select(2)">Appetizers</a></li>
         <li role="presentation" ng-class="{active:isSelected(3)}">
           <a aria-controls="mains" role="tab" ng-click="select(3)">Mains</a></li>
         <li role="presentation" ng-class="{active:isSelected(4)}">
           <a aria-controls="desserts" role="tab" ng-click="select(4)">Desserts</a></li>
       </ul>
      

	 <div class="col xs-12">
	   <div class="tab-content">
	     <ul class="media-list tab-pane fade in active">
	       <li class="media" ng-repeat="dish in dishes | filter:filtText">
		 <div class="media-left media-middle">
                   <a href="#">
                     <img class="media-object img-thumbnail" ng-src='{{dish.image}}' alt="Uthappizza">
                   </a>
		 </div>
		 <div class="media-body">
                   <h2 class="media-heading">{{dish.name}}
                     <span class="label label-danger">{{dish.label}}</span>
                     <span class="badge">{{dish.price | currency}}</span></h2>
                   <p>{{dish.description}}</p>
                   <!-- p>Comment: {{dish.comment}}</p>
			<p>Type your comment:
			  <input type="text" ng-model="dish.comment"></p -->
		 </div> 
	       </li>
	     </ul>
	  </div>
	</div>
	
      </div>
  </div>
  <!-- build:js scripts/main.js -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild -->
</body>
</html>
