  <div class="container">
    
    <div class="row row-content" ng-controller="MenuController">
      <div class="col xs-12" ng-if="!showMenu">
	<h3>{{message}}</h3>
      </div>
      <div class="col xs-12" ng-if="showMenu">
	<button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">{{showDetails ? 'Hide Details':'Show Details'}}</button>
	
	<ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{active:isSelected(1)}" id="1">
            <a aria-controls="all menu" role="tab" ng-click="select(1)">The Menu</a></li>
          <li role="presentation" ng-class="{active:isSelected(2)}">
            <a aria-controls="appetizers" role="tab" ng-click="select(2)">Appetizers</a></li>
          <li role="presentation" ng-class="{active:isSelected(3)}">
            <a aria-controls="mains" role="tab" ng-click="select(3)">Mains</a></li>
          <li role="presentation" ng-class="{active:isSelected(4)}">
            <a aria-controls="desserts" role="tab" ng-click="select(4)">Desserts</a></li>
	</ul>
	<div class="tab-content">
	  <ul class="media-list tab-pane fade in active">
	    <li class="media" ng-repeat="dish in dishes | filter:filtText">
	      <div class="media-left media-middle">
                <a ui-sref="app.dishdetails({id: dish.id})">
                    <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                </a>
	      </div>
	      <div class="media-body">
                <h2 class="media-heading">{{dish.name}}
                  <span class="label label-danger">{{dish.label}}</span>
                  <span class="badge">{{dish.price | currency}}</span></h2>
                <!-- p>{{dish.description}}</p -->
		<p ng-show="showDetails">{{dish.description}}</p>
                <!-- p>Comment: {{dish.comment}}</p>
		     <p>Type your comment:
		       <input type="text" ng-model="dish.comment"></p -->
	      </div> 
	    </li>
	  </ul>
	</div>
      </div>
      
    </div>
  </div>

